.App {
  text-align: center;
  align-items: center;
  text-align: center;
}

.black-logo {
  height: 100px;
  padding: 50px 1500px 27px 60px;

}

.rectangle {
  height: flex;
  width: 300px;
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-color: black;


  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.Input-box{ 
  height: 20px;
  width: 200px;
}

.App-link {
  color: #19a3da;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
